<!DOCTYPE html>
<html>
<head>
    <title>Create Lost and Found Entry</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" alt="Logo">
            <h1>M y S D F O</h1>
        </div>
         <div class="module-links">
            {{#each moduleLinks}}
                <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

        <a href="/profile" class="profile-link">
                <img src="/images/profiletemp.png" alt="Profile Picture">
                Profile
        </a>
    </div>

    <div class="main-body">

        <div class="main-body-header">
            <h3>Create Lost and Found Entry</h3>
            <p class="welcome-message">Here you can enter new data for the lost and found repository</p>
        </div>

        <div class="form-container">
            <div class="form">
            <form id='landfCreate' action="/module/disciplinary-cases/create" method="POST">
                <div class="form-group">
                    <label for="itemId">Item ID</label>
                    <input type="text" id="itemId" name="itemId" required>
                </div>
        
                <div class="form-group">
                    <label for="itemName">Item Name</label>
                    <input type="text" id="itemName" name="itemName" required>
                </div>
        
                <div class="form-group">
                    <label for="locationFound">Location Found</label>
                    <input type="text" id="locationFound" name="locationFound" required>
                </div>
        
                <div class="form-group">
                    <label for="dateTimeFound">Date and Time Found</label>
                    <input type="datetime-local" id="dateTimeFound" name="dateTimeFound" required>
                </div>
        
                <div class="form-group">
                    <label for="confirmedBy">Confirmed By</label>
                    <input type="text" id="confirmedBy" name="confirmedBy" required>
                </div>
        
                <div class="form-group">
                    <label for="claimed">Claimed</label>
                    <select id="claimed" name="claimed" required>
                        <option value="true">Yes</option>
                        <option value="false" selected>No</option>
                    </select>
                </div>
        
                <div class="form-actions">

                    <a href="/main" class="btn-cancel">Cancel</a>
                    <button type="submit" class="btn-submit">Enter</button>
                    
                </div>
            </form>
            <script src="/public/js/createLostFoundEntry.js"></script>
            </div>
        </div>
    </div>
</body>
</html>
